<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Reviews</title>
    <link rel="stylesheet" href="../static/styles.css/">
    <script defer src="../static/script.js/"></script>
</head>
<body>
<header>
    <h1>Car Reviews</h1>
    <button onclick="goToCarList('explore')">Back to Car List</button>
</header>
<main>
    <h2 id="carTitle"></h2>
    <div id="reviews"></div>
</main>
</body>
</html>